@import './bulma';
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

html {
   background-color: #ccc;
   &,
   * {
      box-sizing: border-box;
   }
}

body {
   font-family: 'Comfortaa', sans-serif;
   font-size: 100%;
}

.hero {
   .hero-logo {
      $padding: nth($section-padding, 1) * 2;
      max-height: calc(100vh - #{$padding});
   }
}

.resume {
   background: linear-gradient(0deg, #444, #555);
   h2.title {
      margin-bottom: 3rem;
   }
}
